/*section.tmpAAABBB.tmpBBCCDD{
    border: solid blue;
    margin: 0.5rem 0 0.5rem 0;
    background-color: rgba(0, 195, 255, 0.3);
   z-index: 5;
} */
.sekcja0A{
    border: solid blue;
    margin: 0.5rem;
    padding: 0.5rem;
    //width:100%;    
}

.grupa-sekcji0A {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
   // position: absolute;
   // height:100%;
   // width:100%;
}