/*section.tmpAAABBB.tmpBBCCDD{
    border: solid blue;
    margin: 0.5rem 0 0.5rem 0;
    background-color: rgba(0, 195, 255, 0.3);
   z-index: 5;
} */

@mixin ukotwiczenieEXT($wymiar, $rodzaj) {
    height: $wymiar;
    width: $wymiar;
    position: $rodzaj;
}

@mixin ukotwiczenieINT($wymiar, $rodzaj) {
    top: $wymiar;
    right: $wymiar;
    bottom: $wymiar;
    left: $wymiar;
    position: $rodzaj;
}

.sekcja0A{
    border: solid blue;
    margin: 0.5rem;
    padding: 0.5rem;
  //  position: relative;
  //  width:100%;    
}

.grupa-sekcji0A {
   // display: flex;
   // flex-direction: row;
   // flex-wrap: nowrap;
   // justify-content: flex-start;
   // align-items: stretch;
   // align-content: stretch;
  //  overflow:scroll;
  //  position: absolute;
  //  height:100%;
  //  width:100%;
}
.boxEXT {
    overflow: hidden;
    border: solid blueviolet;
    @include ukotwiczenieEXT(100%, relative);
}