@mixin ukotwiczenieEXT($wymiar, $rodzaj) {
    height: $wymiar;
    width: $wymiar;
    position: $rodzaj;
}

@mixin ukotwiczenieINT($wymiar, $rodzaj) {
    top: $wymiar;
    right: $wymiar;
    bottom: $wymiar;
    left: $wymiar;
    position: $rodzaj;
}

@mixin tenstyl($rad) {
    border-radius: $rad;
    -moz-box-shadow: 0 0 $rad black, 0 0 ($rad/1.5) black inset;
    -webkit-box-shadow: 0 0 $rad black, 0 0 ($rad/1.5) black inset;
    box-shadow: 0 0 $rad black, 0 0 ($rad/1.5) black inset;
}


.boxEXT{
    overflow: hidden;
    border: solid blueviolet;
    @include ukotwiczenieEXT(100%, relative);
}

mat-toolbar.mat-toolbar.mat-toolbar-single-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    .guzikNavBar {
        @include tenstyl(0.2rem);
        height: 3rem;
        margin: 0.4rem;
        padding: 0.4rem;
    }
}
